{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "SpreadsheetApp": true,
    "ScriptApp": true,
    "Browser": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "semi": "error",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  }
}